<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />

    <title>Weather</title>
  </head>
  <body>
    <main>
      <div class="bg-image">
        <header>
          <div class="date-time">
            <p id="time"></p>
            <p id="date"></p>
            <input
              type="text"
              class="search-click"
              name=""
              placeholder="Enter city"
            />
          </div>
          <div class="weather">
            <p id="weatherInfo"></p>
            <p id="temp"></p>
          </div>
        </header>
        <div id="dailyWeatherHolder"></div>

      </div>
    </main>
  </body>
  <script type="module" src="/js/app.js"></script>
</html>